/*<------ CONTEÚDO DE TODAS AS PÁGINAS ------>*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

body {
    background: url("ice-background.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    padding: 15px;
    background-color: rgb(74, 109, 124);
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}

nav a {
    background-color: rgb(245, 241, 237);
    padding: 10px;
    font-weight: bold;
    font-size: 1.7vw;
    border-radius: 25px;
    color: rgb(98, 146, 158);
    text-decoration: none;
    width: 33%;
    text-align: center;
}

nav a:hover {
    background-color: rgb(71, 86, 87);
    color: rgb(245, 241, 237);
}

nav a:active {
    background-color: rgb(74, 109, 124);
    color: rgb(245, 241, 237);
}

footer {
    background-color: rgb(74, 109, 124);
    color: rgb(245, 241, 237);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

#logo-image {
    display: grid;
    place-items: center;
}

#logo-image img {
    max-width: 100%;
    height: auto !important;
}

#info-div {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: rgb(15, 10, 10);
}

@media screen and (max-width: 590px){
    nav {
        grid-template-columns: auto;
        row-gap: 10px;
    }
    nav a {
        font-size: 3vw;
    }
}

/*<------ CONTEÚDO DA "INSCRIÇÃO" ------>*/
#signup-container {   
    display: grid;
    place-items: center;
}

#form-title {
    display: flex;
    justify-content: center;
    width: 90%;
    border: 1px solid rgb(74, 109, 124);
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(98, 146, 158, .8);
}

#team-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border: 1px solid rgb(74, 109, 124);
    background-color: rgba(98, 146, 158, .4);
}

.player-form {
    flex: 0 1 215px;
    margin: 10px;
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.player-inputs {
    flex: 0 1 215px;
    margin: 10px;
    align-self: center;
    flex-basis: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#bottom-form {
    width: 90%;
    display: grid;
    place-items: center;
    border: 1px solid rgb(74, 109, 124);
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(98, 146, 158, .8);
}

.form-field-checkbox {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

#form-field-btn {
    margin: 10px 0px;
}

#save-btn {
    width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 25px;
    background-color: rgb(71, 86, 87);
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(245, 241, 237);
}

#save-btn:hover {
    background-color: rgb(74, 109, 124);
}

#save-btn:active {
    background-color: rgb(15, 10, 10);
}

@media screen and (max-width: 722px) {
    .player-form, .player-inputs {
        flex-basis: 50%;
    }
}

/*<------ CONTEÚDO DO "CAMPEÕES" ------>*/
#last-edition {
    display: flex;
    justify-content: center;
    font-size: 23px;
}
#champions-div {
    display: grid;
    place-items: center;
}
#team-div {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    background: url("./Oilers-bg-transp.png") no-repeat center fixed;
    background-color: rgb(74, 109, 124, 0.8);
}
.players {
    flex: 0 1 215px;
    margin: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(245, 241, 237);
}
.players img {
    max-width: 215px;
    max-height: 275px;
}
